AI Customer Support Triage System.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -720,
        4144
      ],
      "id": "147eefba-fa24-48a1-8d1f-610762793312",
      "name": "Gmail Trigger1",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyze the following support request:\n\nSubject:\n{{ $('Gmail Trigger1').item.json.Subject }}\n\nCustomer:\n{{ $json.name }}\n\nMessage:\n{{ $('Gmail Trigger1').item.json.snippet }}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {
          "systemMessage": "=You are an experienced customer support triage specialist.\n\nYour responsibility is to analyze incoming customer support requests.\n\nYou must:\n\n1. Categorize the ticket.\n2. Determine urgency.\n3. Identify customer sentiment.\n4. Generate a short summary.\n5. Recommend the appropriate team.\n\nCategories:\n\n* BILLING_ISSUE\n* PRODUCT_ISSUE\n* FEATURE_REQUEST\n* GENERAL_INQUIRY\n\nPriority Levels:\n\n* URGENT\n* HIGH\n* MEDIUM\n* LOW\n\nUrgent:\n\n* Service outage\n* Security issue\n* Data loss\n* Entire team blocked\n\nHigh:\n\n* Paying customer unable to use service\n* Account access issue\n\nMedium:\n\n* Billing questions\n* Upgrade requests\n\nLow:\n\n* Feature requests\n* General questions\n\nSentiment:\n\n* Positive\n* Neutral\n* Negative\n* Frustrated\n\nRecommended Teams:\n\n* Billing Team\n* Technical Support\n* Product Team\n* Customer Success\n\nRules:\n\n* Do not make assumptions that are not supported by the customer's message.\n* If information is missing, use the most reasonable category based on the available evidence.\n* Keep the summary under 30 words.\n* Return only valid JSON.\n* Do not include markdown formatting.\n* Do not wrap the response in code blocks.\n\nOutput JSON schema:\n\n{\n\"category\": \"string\",\n\"priority\": \"string\",\n\"sentiment\": \"string\",\n\"summary\": \"string\",\n\"recommendedTeam\": \"string\",\n\"reasoning\": \"string\"\n}\n\nExample output:\n\n{\n\"category\": \"PRODUCT_ISSUE\",\n\"priority\": \"HIGH\",\n\"sentiment\": \"Frustrated\",\n\"summary\": \"Customer cannot log into their account after resetting the password.\",\n\"recommendedTeam\": \"Technical Support\",\n\"reasoning\": \"Account access issues prevent the customer from using the service.\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        -272,
        4080
      ],
      "id": "c3812f6d-c6bc-4048-8f91-8b5c32892897",
      "name": "Message a model1",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  ...JSON.parse($input.item.json.content.parts[0].text),\n  messageId: $('Gmail Trigger1').item.json.id\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        4080
      ],
      "id": "bce5bce8-5ac9-46dc-a54e-ebb7890f5869",
      "name": "Parse Json Result1"
    },
    {
      "parameters": {
        "content": "### 📚 Load Data Flow",
        "height": 572,
        "width": 1276,
        "color": 7
      },
      "id": "d0aba748-20db-4480-825c-c11356cda123",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -448,
        4416
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        2752,
        4464
      ],
      "id": "e5c35aba-1311-42a8-8004-e7c988b6b2ff",
      "name": "Google Gemini Chat Model3"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        3760,
        4416
      ],
      "id": "44f16fcf-f511-4ca7-a94a-fde5232cc0eb",
      "name": "Google Gemini Chat Model4"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger1').item.json.id }}",
        "emailType": "text",
        "message": "={{ $('Mail Content Agent1').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4560,
        4144
      ],
      "id": "caa54520-f21b-4f27-8a91-b3adb2e2440d",
      "name": "Reply to a message1",
      "webhookId": "",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Gmail Trigger1').item.json.threadId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        2896,
        4464
      ],
      "id": "0a6fa10b-3546-4b3c-8e6e-a34747f4212a",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "",
        "message": "={{ $json.output }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 240,
              "resumeUnit": "minutes"
            }
          },
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4112,
        4240
      ],
      "id": "6da0adff-7856-4b4e-a11a-53ccdf74ad1b",
      "name": "Send message and wait for response1",
      "webhookId": "ce7bb50a-a632-42cb-9e87-530b498b10d8",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/tickets/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        {\n          \"propertyName\": \"gmail_thread_id\",\n          \"operator\": \"EQ\",\n          \"value\": \"{{ $('Gmail Trigger1').item.json.threadId }}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1648,
        4144
      ],
      "id": "8deb458a-ba20-4252-8202-a99a09d3568f",
      "name": "Search ticket1",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const from = $input.item.json.From;\nconst match = from.match(/(.*)<(.*)>/);\nreturn {\n  name: match ? match[1].trim().replace(/\"/g, '') : '',\n  email: match ? match[2].replace('>', '').trim() : from\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        4080
      ],
      "id": "efb6a089-7083-48ca-b30f-dc37683bed40",
      "name": "Split User Name and Email1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/tickets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"subject\": \"[{{ $('Merge User Input Data1').item.json.category }}] {{ $('Merge User Input Data1').item.json.Subject }} - {{ $('Split User Name and Email1').item.json.name }}\",\n    \"content\": \"{{ $('Parse Json Result1').item.json.summary }}\",\n    \"hs_pipeline\": \"0\",\n    \"hs_pipeline_stage\": \"1\",\n    \"hs_ticket_priority\": \"{{ $('Parse Json Result1').item.json.priority.toUpperCase() }}\",\n    \"source_type\": \"EMAIL\",\n    \"hs_ticket_category\": \"{{ $('Parse Json Result1').item.json.category.toUpperCase() }}\",\n    \"hs_assigned_team_ids\": \"{{ $('Parse Json Result1').item.json.recommendedTeam }}\",\n    \"gmail_thread_id\": \"{{ $('Gmail Trigger1').item.json.threadId }}\",\n    \"createdate\": \"{{ $today }}\"\n  },\n   \"associations\": [\n    {\n      \"to\": {\n        \"id\": \"{{ $('Get User Contact ID1').first().json.contact_id }}\" \n      },\n      \"types\": [\n        {\n          \"associationCategory\": \"HUBSPOT_DEFINED\",\n          \"associationTypeId\": 16\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2096,
        4048
      ],
      "id": "339bc470-be0e-478b-b2df-0b7e7de4c9f7",
      "name": "Create Ticket1",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/tickets/{{ $('Set Exist Ticket ID1').first().json.ticket_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"subject\": \"[{{ $('Merge User Input Data1').item.json.category }}] {{ $('Merge User Input Data1').item.json.Subject }} - {{ $('Split User Name and Email1').item.json.name }}\",\n    \"content\": \"{{ $('Parse Json Result1').item.json.summary }}\",\n    \"hs_pipeline\": \"0\",\n    \"hs_pipeline_stage\": \"3\",\n    \"hs_ticket_priority\": \"{{ $('Parse Json Result1').item.json.priority.toUpperCase() }}\",\n    \"source_type\": \"EMAIL\",\n    \"hs_ticket_category\": \"{{ $('Parse Json Result1').item.json.category.toUpperCase() }}\",\n    \"hs_assigned_team_ids\": \"{{ $('Parse Json Result1').item.json.recommendedTeam }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2320,
        4240
      ],
      "id": "21d49b1f-e824-4919-b9ed-e4bc923e7a56",
      "name": "Update ticket1",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "formTitle": "Upload your data to test RAG",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload your file(s)",
              "fieldType": "file",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "56b4b114-bf1c-4683-8fd2-badc32ec5818",
      "name": "Upload your file here1",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -144,
        4512
      ],
      "webhookId": "366b81cc-3691-4368-9704-713b1c32fe4a",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Name:  {{ $('Gmail Trigger1').item.json.From.split(\"<\")[0] }}\nSummary:\n{{ $('Parse Json Result1').item.json.summary }}\nContent:\n{{ $('Gmail Trigger1').item.json.Subject }}\n{{ $('Gmail Trigger1').item.json.snippet }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a support knowledge retrieval assistant.\n\nYour task is to determine what information is needed to answer the customer.\n\nYou may use available tools to retrieve company policies, FAQs, SOPs and product documentation.\n\nNever answer from your own knowledge.\n\nOnly use retrieved company information.\n\nYou are a professional customer support assistant.\n\nYour primary responsibility is to assist customers using only the information provided in the available context and company knowledge base.\n\nThe knowledge base tool returns a \"retrievalConfidence\" field based on actual\nretrieval relevance scores. Use this value directly for your \"confidence\" output\n— do not assess confidence based on your own judgment. If retrievalConfidence\nis \"low\", set needsEscalation to true.\n\nRules:\n\n1. Never make up facts, policies, procedures, pricing, timelines, or product capabilities.\n2. Never assume information that is not explicitly provided.\n3. If the available information is insufficient to answer the customer's question confidently:\n\n   * Do not guess.\n   * Do not provide speculative answers.\n   * Explain that additional review is required.\n   * Inform the customer that a human support representative will follow up.\n4. If company documentation does not contain the answer, escalate the request.\n5. Be professional, friendly, and transparent.\n6. Prioritize accuracy over completeness.\n\nWhen information is missing, use language similar to:\n\n\"At the moment, I don't have enough information to provide an accurate answer. Your request has been forwarded to our support team, and a representative will follow up with you shortly.\"\n\nOnly answer based on the provided context.\n"
        }
      },
      "id": "900cc259-d568-40eb-9091-3b6f17404d0d",
      "name": "AI Agent Support Content1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2896,
        4240
      ],
      "typeVersion": 2,
      "executeOnce": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let ticketId;\ntry {\n  ticketId = $('Set New Ticket ID1').item.json.ticket_id;\n} catch (e) {\n  ticketId = $('Set Exist Ticket ID1').item.json.ticket_id;\n}\nreturn { json: { ...$json, ticket_id: ticketId } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3248,
        4240
      ],
      "id": "6cc3762d-b3f8-4d95-9882-e4672d55eb55",
      "name": "Resolve Ticket ID1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2e8f92d8-c553-404b-8cdc-38ef7e121c2b",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1872,
        4144
      ],
      "id": "b2d5d63c-fa3a-4613-93d7-8b5ecd9d3b7b",
      "name": "Check if not exist ticket1"
    },
    {
      "parameters": {
        "authentication": "appToken",
        "operation": "search",
        "filterGroupsUi": {
          "filterGroupsValues": [
            {
              "filtersUi": {
                "filterValues": [
                  {
                    "propertyName": "email|string",
                    "value": "={{ $('Gmail Trigger1').item.json.From.extractEmail() }}"
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        528,
        4144
      ],
      "id": "42b23fe9-2b18-4bf7-97bf-392717c1723c",
      "name": "Search contacts1",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f82a0dc0-b512-4867-91ca-82ebe61718c8",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        752,
        4144
      ],
      "id": "457500cb-8932-4ec1-81cf-1fdf474cd886",
      "name": "Check contact exist1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae88bcc7-3a0d-46e7-8573-e1ab005fae72",
              "name": "contact_id",
              "value": "={{ $('Search contacts1').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        4048
      ],
      "id": "0882f5dc-f6ee-4380-9cdd-c636911976ae",
      "name": "Set Exist Contact ID1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "614d76e2-16b8-4fd9-aa33-a3c0edff62dd",
              "name": "contact_id",
              "value": "={{ $json.vid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        4240
      ],
      "id": "ae332b28-9066-4f5b-a2a7-2d8c28265ef8",
      "name": "Set New Contact ID1"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "messageId"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        304,
        4144
      ],
      "id": "e363b321-ded5-4eb4-83d9-54b9fa02c856",
      "name": "Merge User Input Data1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1424,
        4144
      ],
      "id": "97ae0c8f-8689-46c2-9338-3c836b6b6729",
      "name": "Get User Contact ID1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c96ab53-cf6b-4a20-9643-799b483c2a0e",
              "name": "ticket_id",
              "value": "={{ $json.results[0].id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2096,
        4240
      ],
      "id": "d22c3ce1-ff5a-4783-90d4-16e59dc50e1b",
      "name": "Set Exist Ticket ID1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c96ab53-cf6b-4a20-9643-799b483c2a0e",
              "name": "ticket_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2320,
        4048
      ],
      "id": "93308525-eed9-4ece-a1c5-6c0320a579ed",
      "name": "Set New Ticket ID1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "975a1793-8913-4ce9-81e8-b300ec5593de",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4336,
        4240
      ],
      "id": "dfa1fd9b-3170-422c-8139-318369679d47",
      "name": "If Approved1"
    },
    {
      "parameters": {
        "authentication": "appToken",
        "email": "={{ $('Split User Name and Email1').item.json.email }}",
        "additionalFields": {
          "firstName": "={{ $('Split User Name and Email1').item.json.name.split(\" \")[0] }}",
          "lastName": "={{ $('Split User Name and Email1').item.json.name.split(\" \")[1] }}"
        },
        "options": {
          "resolveData": true
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        976,
        4240
      ],
      "id": "9117705f-abd8-46cc-9e2e-c068707ca971",
      "name": "Update a contact1",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "chatId": "",
        "text": "=🎫 Update Ticket #{{ $json.id }} ({{ $json.url }})\n\n👤 {{ ($json.properties.subject || '').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;') }}\n📂 {{ $json.properties.hs_ticket_category }}\n⚡ {{ $json.properties.hs_ticket_priority }}\n📝 {{ ($json.properties.content || '').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;') }}\n👥 {{ $json.properties.hs_assigned_team_ids }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2608,
        4240
      ],
      "id": "407f3213-e4ca-441c-b4fc-158e35e69218",
      "name": "Send Update Support Ticket To Group1",
      "webhookId": "ce7bb50a-a632-42cb-9e87-530b498b10d8",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "chatId": "",
        "text": "=🎫 New Ticket #{{ $json.id }} ({{ $json.url }})\n\n👤 {{ ($json.properties.subject || '').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;') }}\n📂 {{ $json.properties.hs_ticket_category }}\n⚡ {{ $json.properties.hs_ticket_priority }}\n📝 {{ ($json.properties.content || '').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;') }}\n👥 {{ $json.properties.hs_assigned_team_ids }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2608,
        4048
      ],
      "id": "76235f40-eb50-43c0-a6d4-9b1462d4e2a2",
      "name": "Send New Support Ticket To Group1",
      "webhookId": "ce7bb50a-a632-42cb-9e87-530b498b10d8",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "test-collection",
          "mode": "list",
          "cachedResultName": "test-collection"
        },
        "embeddingBatchSize": 500,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        304,
        4512
      ],
      "id": "d9f21edb-e306-4e7b-987b-04f00ae924fa",
      "name": "Qdrant Vector Store2"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        4736
      ],
      "id": "4be96814-ca9b-44c3-a8ff-b3f7070676b1",
      "name": "Embeddings Google Gemini2"
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "csvLoader",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source",
                "value": "={{ $json.fileName }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        448,
        4736
      ],
      "id": "509b53d4-0de6-4d44-8190-592115bc1354",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  for (const [key, binaryData] of Object.entries(item.binary)) {\n    items.push({\n      json: {\n        fileName: binaryData.fileName,\n      },\n      binary: {\n        data: binaryData\n      }\n    });\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        4512
      ],
      "id": "59d7b779-c2ff-4c86-8d08-d9093c080b95",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"answer\": \"Answer content based on context\",\n  \"needsEscalation\": true,\n  \"confidence\": \"high\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3200,
        4560
      ],
      "id": "fc010cd8-4e7f-4a44-8547-eaea45cc6fdc",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "description": "Search the company's internal knowledge base (refund policy, FAQ, product features,\nescalation procedures) for information relevant to the customer's question.\n\nAlways call this tool FIRST before answering any customer question. Never answer\nfrom your own knowledge — only use what this tool returns.\n\nThis tool returns:\n- Relevant document snippets, sorted by relevance to the query\n- A \"retrievalConfidence\" score (high/medium/low) based on the top result's\n  relevance score after reranking\n\nIf retrievalConfidence is \"low\", treat the returned information as unreliable —\ndo not use it to answer confidently, and recommend escalation instead.",
        "workflowId": {
          "__rl": true,
          "value": "pASbWvyno3FW5hcq",
          "mode": "list",
          "cachedResultUrl": "/workflow/pASbWvyno3FW5hcq",
          "cachedResultName": "Retrieve Document"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $fromAI('query', 'The customer question, rephrased concisely for semantic search') }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3024,
        4480
      ],
      "id": "b5d8b294-817c-48b6-884e-91becfeddc93",
      "name": "Call n8n Workflow Tool"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Customer Information:\n\nName:\n{{ $('Gmail Trigger1').item.json.From }}\n\nPlan:\n{{ $('Merge User Input Data1').item.json.sentiment }}\n\nTicket Category:\n{{ $('Merge User Input Data1').item.json.category }}\n\nPriority:\n{{ $('Merge User Input Data1').item.json.priority }}\n\nCustomer Message:\n\n{{ $('Gmail Trigger1').item.json.snippet }}\n\nKnowledge Base Context:\n\n{{ $('AI Agent Support Content1').first().json.output }}\n\nGenerate an email response.",
        "options": {
          "systemMessage": "You are a professional customer support email writer.\n\nYour responsibility is to create a customer-facing email draft.\n\nRules:\n\nUse only the information provided in the context.\nNever invent company policies, pricing, or product features.\nMaintain a professional, friendly, and empathetic tone.\nAddress the customer by name when available.\nKeep responses concise and actionable.\nClearly explain next steps if human review is required.\nGenerate:\nonly email body, not include the subject\nReturn strutured text for human preview.\n\nEmail structure:\n\nGreeting\nAcknowledgement\nAnswer based on provided context\nNext steps\nProfessional closing"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3728,
        4224
      ],
      "id": "224a3317-a06a-40cb-8515-131bb9cc5111",
      "name": "Mail Content Agent1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f7b1c3c8-f296-4ae4-a4cc-89fba482d4e0",
              "leftValue": "={{ $json.output.needsEscalation }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3440,
        4240
      ],
      "id": "d2fe579d-52b4-4d88-98d6-af0f3bd6cd79",
      "name": "Check if dont need human support"
    },
    {
      "parameters": {
        "chatId": "",
        "text": "=Ticket: # {{ $('Resolve Ticket ID1').item.json.ticket_id }} Need human support\nSupport by: {{ $('Parse Json Result1').item.json.recommendedTeam }}\nPriority: {{ $('Parse Json Result1').item.json.priority }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3632,
        4592
      ],
      "id": "f8c04ea4-5696-4607-8fb3-c83f4480350d",
      "name": "Send a text message",
      "webhookId": "ce7bb50a-a632-42cb-9e87-530b498b10d8",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "telegramApi": {
          "id": "UU6AEXBZ5P5JdLxv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/tickets/{{ $('Resolve Ticket ID1').item.json.ticket_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"hs_pipeline_stage\": \"3\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3952,
        4576
      ],
      "id": "816ca439-f3ac-4802-86f3-79ff5ca0df13",
      "name": "Update ticket status waiting for our",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpBearerAuth": {
          "id": "GANWFdquuFLiBv0T",
          "name": "Hubspot"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/tickets/{{ $('Resolve Ticket ID1').item.json.ticket_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"hs_pipeline_stage\": \"3\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4560,
        4336
      ],
      "id": "5a7e0598-504f-4a06-9964-9ccdf8d55fa9",
      "name": "Update ticket waiting for our",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpBearerAuth": {
          "id": "GANWFdquuFLiBv0T",
          "name": "Hubspot"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/tickets/{{ $('Resolve Ticket ID1').item.json.ticket_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"hs_pipeline_stage\": \"2\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4784,
        4144
      ],
      "id": "90acbad3-c525-4fd0-a92f-8fb4bdf8bef4",
      "name": "Update ticket waiting for user",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpBearerAuth": {
          "id": "GANWFdquuFLiBv0T",
          "name": "Hubspot"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger1": {
      "main": [
        [
          {
            "node": "Merge User Input Data1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split User Name and Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Parse Json Result1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Json Result1": {
      "main": [
        [
          {
            "node": "Merge User Input Data1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Support Content1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Mail Content Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message1": {
      "main": [
        [
          {
            "node": "Update ticket waiting for user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent Support Content1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response1": {
      "main": [
        [
          {
            "node": "If Approved1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search ticket1": {
      "main": [
        [
          {
            "node": "Check if not exist ticket1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split User Name and Email1": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Ticket1": {
      "main": [
        [
          {
            "node": "Set New Ticket ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update ticket1": {
      "main": [
        [
          {
            "node": "Send Update Support Ticket To Group1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload your file here1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Support Content1": {
      "main": [
        [
          {
            "node": "Resolve Ticket ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Ticket ID1": {
      "main": [
        [
          {
            "node": "Check if dont need human support",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if not exist ticket1": {
      "main": [
        [
          {
            "node": "Create Ticket1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Exist Ticket ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search contacts1": {
      "main": [
        [
          {
            "node": "Check contact exist1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check contact exist1": {
      "main": [
        [
          {
            "node": "Set Exist Contact ID1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a contact1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Exist Contact ID1": {
      "main": [
        [
          {
            "node": "Get User Contact ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set New Contact ID1": {
      "main": [
        [
          {
            "node": "Get User Contact ID1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge User Input Data1": {
      "main": [
        [
          {
            "node": "Search contacts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Contact ID1": {
      "main": [
        [
          {
            "node": "Search ticket1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Exist Ticket ID1": {
      "main": [
        [
          {
            "node": "Update ticket1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set New Ticket ID1": {
      "main": [
        [
          {
            "node": "Send New Support Ticket To Group1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Approved1": {
      "main": [
        [
          {
            "node": "Reply to a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update ticket waiting for our",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a contact1": {
      "main": [
        [
          {
            "node": "Set New Contact ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Update Support Ticket To Group1": {
      "main": [
        [
          {
            "node": "AI Agent Support Content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send New Support Ticket To Group1": {
      "main": [
        [
          {
            "node": "AI Agent Support Content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini2": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent Support Content1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Support Content1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mail Content Agent1": {
      "main": [
        [
          {
            "node": "Send message and wait for response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if dont need human support": {
      "main": [
        [
          {
            "node": "Mail Content Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Update ticket status waiting for our",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Upload your file here1": [
      {
        "Upload your file(s)": [
          {
            "filename": "AI Customer Support Triage System - Product Features.csv",
            "mimetype": "text/csv",
            "size": 229
          },
          {
            "filename": "AI Customer Support Triage System - Refund Policy.csv",
            "mimetype": "text/csv",
            "size": 194
          },
          {
            "filename": "AI Customer Support Triage System - FAQ.csv",
            "mimetype": "text/csv",
            "size": 511
          },
          {
            "filename": "AI Customer Support Triage System - Escalation Matrix.csv",
            "mimetype": "text/csv",
            "size": 166
          }
        ],
        "submittedAt": "2026-06-25T15:32:04.553+07:00",
        "formMode": "test"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d8ee7e108d01cf09893dd8853d1c18d7e9a83ebaa9049e005c6a959d608b3875"
  }
}