Customer Onboarding Automation.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "customer-onboarding-start",
        "options": {}
      },
      "id": "ea0f1588-c35c-4d37-af72-e5e162c38aa6",
      "name": "New Customer Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        6928,
        5120
      ],
      "webhookId": "customer-onboarding-start",
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "contact",
        "email": "={{ $json.email }}",
        "additionalFields": {
          "firstName": "={{ $json.customerName }}",
          "phoneNumber": "={{ $json.phone }}",
          "startDate": "={{ $json.signupDate }}"
        }
      },
      "id": "7af60d1d-f295-4e77-b22f-1e1413a19b6a",
      "name": "Create HubSpot Contact",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        7520,
        5088
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "<GROUP_ID>",
        "text": "={{ $('New Customer Webhook').item.json.email }} {{ $('New Customer Webhook').item.json.signupDate }}",
        "additionalFields": {}
      },
      "id": "9cb8e672-e379-426f-bf50-d4875ef6db06",
      "name": "Send Team Notification",
      "type": "n8n-nodes-base.telegram",
      "position": [
        7808,
        5008
      ],
      "webhookId": "e319793b-83b0-4b4e-8cf5-af921cc0e9ec",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "UU6AEXBZ5P5JdLxv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "test@gmail.com",
        "toEmail": "duckcute44112002@gmail.com",
        "subject": "Welcome to [Company Name] - Your Journey Starts Here! 🎉",
        "text": "Hello word",
        "options": {}
      },
      "id": "84b99c4e-89a9-4c87-a695-512f82d85e95",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        7808,
        5184
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "2c5dbd35-7884-44ac-b2dd-c814b31e37e7",
      "name": "Wait 2 Hours",
      "type": "n8n-nodes-base.wait",
      "position": [
        8160,
        5120
      ],
      "webhookId": "ed102052-76a3-4302-a179-f8e09d0f7aed",
      "typeVersion": 1
    },
    {
      "parameters": {
        "fromEmail": "test@gmail.com",
        "toEmail": "duckcute44112002@gmail.com",
        "subject": "Your Onboarding Documents Are Ready! 📋",
        "text": "hello word 2",
        "options": {}
      },
      "id": "d57e7262-0342-4b69-a980-06828d1d48b7",
      "name": "Send Onboarding Documents",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        8416,
        5104
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "675271d6-f020-407e-8340-d7778cae04ca",
      "name": "Wait 1 Day",
      "type": "n8n-nodes-base.wait",
      "position": [
        8704,
        5104
      ],
      "webhookId": "c37979cb-b222-4f35-a0f9-b7dff99ccea8",
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "contact",
        "email": "={{ $('New Customer Webhook').item.json.email }}",
        "additionalFields": {
          "startDate": "={{ $today.format('yyyy-MM-dd') }}"
        }
      },
      "id": "093c6b38-9437-4165-bbef-70bd04ec4074",
      "name": "Update CRM Status",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        9008,
        5008
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fromEmail": "test@gmail.com",
        "toEmail": "duckcute44112002@gmail.com",
        "subject": "How's your first day going? 🌟",
        "text": "Hello world 3",
        "options": {
          "replyTo": "user@example.com"
        }
      },
      "id": "c85ecf64-af5b-4f44-a239-2415709f96b9",
      "name": "Send Personal Check-in",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        9008,
        5200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "f8986f11-567e-4f6c-b552-2d6b1bac1eb9",
      "name": "Wait 2 More Days",
      "type": "n8n-nodes-base.wait",
      "position": [
        9312,
        5104
      ],
      "webhookId": "4d254f31-2974-4d7b-8669-0f1df857209a",
      "typeVersion": 1
    },
    {
      "parameters": {
        "fromEmail": "test@gmail.com",
        "toEmail": "duckcute44112002@gmail.com",
        "subject": "Your Week 1 Success Guide + Exclusive Training 🎯",
        "text": "hehe",
        "options": {}
      },
      "id": "20d7a496-9925-40a6-9e49-4733fedadecf",
      "name": "Send Week 1 Success Guide",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        9872,
        5088
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "contact",
        "email": "={{ $('New Customer Webhook').item.json.email }}",
        "additionalFields": {}
      },
      "id": "f43450db-88f0-4be2-8c16-bd7ec01c25b4",
      "name": "Mark Week 1 Complete",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        10096,
        4848
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "<GROUP_ID>",
        "text": "Congrate! Sarah Johnson is aldready done the first week",
        "additionalFields": {}
      },
      "id": "a118b4d2-61a1-4be3-af53-089f3cd3520f",
      "name": "Notify Team of Completion",
      "type": "n8n-nodes-base.telegram",
      "position": [
        10144,
        5280
      ],
      "webhookId": "00e4a472-30f4-4f63-a96e-8c3deb69c704",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "UU6AEXBZ5P5JdLxv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1f5e1a0-8c2e-4d1f-9b3a-7e6d5c4b3a21",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.email }}",
              "rightValue": ""
            },
            {
              "id": "d2g6f2b1-9d3f-5e2g-ac4b-8f7e6d5c4b32",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.customerName }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "5c3add08-2f34-4f79-87ca-642ca521b879",
      "name": "Validate Required Fields",
      "type": "n8n-nodes-base.if",
      "position": [
        7280,
        5120
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "chatId": "=<GROUP_ID>",
        "text": "Check your required data!",
        "additionalFields": {}
      },
      "id": "0e8996c1-8e34-49a2-b491-ca8fd1f2c762",
      "name": "Send Validation Error Alert",
      "type": "n8n-nodes-base.telegram",
      "position": [
        7472,
        5424
      ],
      "webhookId": "70027811-eb7c-4092-a728-e161bca136b5",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "UU6AEXBZ5P5JdLxv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const customerName = $input.first().json.customerName;\nvar firstName = customerName.split(' ')[0];\nvar lastName = customerName.split(' ')[1] || '';\n\nreturn {\n  firstName,\n  lastName\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7104,
        5232
      ],
      "id": "651779d8-944d-455c-8c91-c8dd5af7ac9e",
      "name": "transform custormerName"
    }
  ],
  "connections": {
    "New Customer Webhook": {
      "main": [
        [
          {
            "node": "transform custormerName",
            "type": "main",
            "index": 0
          },
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create HubSpot Contact": {
      "main": [
        [
          {
            "node": "Send Team Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Wait 2 Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 Hours": {
      "main": [
        [
          {
            "node": "Send Onboarding Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Onboarding Documents": {
      "main": [
        [
          {
            "node": "Wait 1 Day",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 Day": {
      "main": [
        [
          {
            "node": "Update CRM Status",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Personal Check-in",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Personal Check-in": {
      "main": [
        [
          {
            "node": "Wait 2 More Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 More Days": {
      "main": [
        [
          {
            "node": "Send Week 1 Success Guide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Week 1 Success Guide": {
      "main": [
        [
          {
            "node": "Mark Week 1 Complete",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Team of Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Fields": {
      "main": [
        [
          {
            "node": "Create HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Validation Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transform custormerName": {
      "main": [
        [
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "New Customer Webhook": [
      {
        "email": "sarah.johnson@email.com",
        "phone": "+1-555-123-4567",
        "source": "website",
        "package": "Premium",
        "signupDate": "2024-07-04",
        "customerName": "Sarah Johnson"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d8ee7e108d01cf09893dd8853d1c18d7e9a83ebaa9049e005c6a959d608b3875"
  }
}